@import "~bulma/sass/utilities/mixins.sass";

#hero.section {
	height: 78vh;

	.hero {
		width: 90%;

		.button {
			@include from($desktop) {
				// padding: 1rem 4rem;
			}
		}

		.hero-body {
			padding-top: 8rem;

			@include desktop {
				padding-top: 6rem;
				// background-color: red;
			}

		}


	}

	.container,
	.columns {
		height: 100%;
	}

	.columns {
		display: flex;
		flex-direction: column;

		.column:nth-child(2) {
			// justify-self: flex-end;
			max-height: 20vh;
		}
	}

	.icon {
		font-size: 68px;
		cursor: pointer;
		color: #800000;
	}
}