#about {

	margin-bottom: 5rem;

	h2 {
		margin-bottom: 2em;
	}

	.box {
		box-shadow: none;
	}

	.content>.title,
	p {
		margin-bottom: 0.50rem;
	}

	.media-left {
		font-size: 48px;
		color: rgb(248, 103, 103);
		margin-right: 2rem;
	}
}