@import "~bulma/sass/utilities/mixins.sass";

article.media
{
	flex-wrap: wrap;
}

#about {
	margin-bottom: 5rem;

	h2 {
		margin-bottom: 2em;
	}

	h3.title {
		font-size: 1.9em;
		min-height: 1em;
		height: auto;
		@include from($desktop) {
			min-height: 2.3em;
		}
	}

	.box {
		margin-bottom: 1em;
		height: 100%;
		min-height: 17em;

		@include from($desktop) {
			padding: 2em;
			padding-bottom: 1em;
		}
	}

	.content > .title,
	p {
		margin-bottom: 0.5rem;
	}

	.media-left {
		font-size: 48px;
		color: #f86767;
		margin-right: 2rem;

		img {
			width: 64px;
			height: 64px;
		}
	}
}
