@import "~bulma/sass/utilities/mixins.sass";

#about,
#faq,
#error {
	min-height: 50vh;
	padding-left: 2rem;

	h1 {
		margin-bottom: 3rem;
	}

	@include from($desktop) {
		padding-left: 4rem;
		padding-top: 5rem;
	}

	.titleContainer {
		position: relative;
	}

	.contentContainer {
		margin-top: 1.5rem;
	}
}

#faq {
	.faq-section {
		margin-bottom: 3rem;

		@include from($desktop) {
			margin-bottom: 4rem;
		}
	}
}
