@import "~bulma/sass/utilities/mixins.sass";

#about,
#faq,
#error,
#gallery,
#contact {
	min-height: 50vh;
	padding-left: 2rem;
	padding-top: 6em;

	h1 {
		margin-bottom: 3rem;
	}

	h3 {
		max-width: 50ch;
	}

	p {
		max-width: 60ch;
	}


	@include from($desktop) {
		padding-left: 5rem;
		padding-top: 5rem;
	}

	.titleContainer {
		position: relative;
	}

	.contentContainer {
		margin-top: 1.5rem;
	}
}

#faq {
	.faq-section {
		margin-bottom: 3rem;

		@include from($desktop) {
			margin-bottom: 4rem;
		}
	}
}
