@import "~bulma/sass/utilities/mixins";

#footer {
	padding: 3.5rem 4rem 2.5rem 4rem;

	@include desktop {
		padding: 4rem 10rem 2rem 15rem;
	}

	color: rgba(0, 0, 0, 0.3);
	background-color: white;
	font-size: 0.8em;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	.column {
		padding: 0.2em 0;

		&.second-column {
			display: flex;
			align-items: flex-end;
			ul {
				margin-top: 0em;
			}
		}

		ul {
			margin: 0em 0;
			margin-left: 0.5em;
			list-style: none;

			li {
				margin: 0em 0;

				a {
					opacity: 0.6;
				}

				&.poweredby {
					height: 60px;

					display: block;
					position: relative;
					span {
						display: block;
						margin-bottom: 0px;
					}
					a {
						img.logo {
							height: 40px;
							filter: grayscale(1);
							opacity: 0.6;
							transition: opacity 0.2s ease-in-out;
						}
						img.logo:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	hr {
		margin: 1em -0.5em;
		width: 80vw;

		@include tablet {
			margin: 0.5em;
			visibility: hidden;
		}
	}
}
